body[data-theme="dark"] {  

   @import '/src/scss/dark-slider.scss';

   .nav-link{
      color: #50638F
   }
   .slider-tab {
      background-color: #8C8C8C;
   }

   .title-styles {
      color: white;
   }


   .header-icon {
      color: white;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #8C8C8C;
   }

   .language {
      background-color: #494949;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #918e97;
      color: white;
   }

   header {
      background-image: url("https://images.unsplash.com/photo-1549861833-c5932fd19229?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
      background-color: #07163A;
      h1 {
         color: white;
      }
   }
   footer {
      background-color: #07163A;
   }
   #skills {
      background-color: #2E4271; 
   }

   #about {
      background-color: #162955;
      h1 span {
         color: white;
      }
      .polaroid span {
         background:  #2E4271;
      }
      .card {
         background: #2E4271;
         color: white;
      }
   }

   #portfolio {
      background: #162955;
      .section-title {
         color: white !important;
      }
      .foto div {
         background: #6d6d6d;
      }
      .project-title-settings {
         color: white;
      }
   }

   #resume {
      filter: brightness(80%);
      background: #162955;
      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #50638F !important;
         color: white;
      }

      .main-badge {
         background: #50638F !important;
      }

      .vertical-timeline-element-date {
         color: white;
         
      }
      

      .vertical-timeline-element-icon {
         background: #50638F !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #5b5b5b;
      color: white;
   }

   .close-icon {
      color: white;
   }
}
